
//- data come here
- 
    var header = '#bode'
    var imagePath = "asset/image/dragos.jpg"
    var myFullName = "Vlasie Dragos"
    var myTitle = "Front-End Developer"
    var slogan = `I’m a problem solver driven by challenge. The ability to quickly learn and master new technologies helped me build a strong technical knowledge in front-end development. I would love to meet like minded people, so: Let’s have a chat!`
    var achievement = {
        title: 'Achievement',
        content: `I’m a self-taught Web Developer.`
    }
 
    var coolStuff = {
        title: 'grab cool stuff',
        buttonList: [
            {
                url: 'https://github.com/ghismovd/the-cv',
                icon: 'github',
                label: 'Click to visit the GitHub project source'
            },
          {
                url: "asset/doc/CV-Vlasie Dragos.docx",
                icon: "file-word",
                label: `Click to download the "full experience" Microsoft Word version`
            }
        ]
    }
//- the view comes here
#leaderboards-players
.leaderboards-players
    .leaderboards-players__logo some pic
    .leaderboards-players__header=header
    .leaderboards-players__wrapper
        .leaderboards-players__avatar-place 1st 
        .leaderboards-players__avatar-card 
            img.leaderboards-players__avatar(src=imagePath)
            .leaderboards-players__avatar-card-text numele si scorul
        .leaderboards-players__avatar-place 2st 
                .leaderboards-players__avatar-card 
                    img.leaderboards-players__avatar(src=imagePath)
                    .leaderboards-players__avatar-card-text numele si scorul
        .leaderboards-players__avatar-place 3st 
                .leaderboards-players__avatar-card 
                    img.leaderboards-players__avatar(src=imagePath)
                    .leaderboards-players__avatar-card-text numele si scorul
p points


        //- .leaderboards-players__full-name=myFullName
        //- .leaderboards-players__title=myTitle
        //- .leaderboards-players__slogan=slogan

        //- .leaderboards-players__title=achievement.title
        //- .leaderboards-players__content=achievement.content

        //- .leaderboards-players__title=coolStuff.title
        //- .leaderboards-players__link-list
        //-     each button in coolStuff.buttonList
        //-         a.leaderboards-players__link(href=button.url)
        //-             span.leaderboards-players__link-description=button.label
        //-             span(class=`my-cv__icon--${button.icon}`)

